# Feature Engineer

In [216]:
import pandas as pd
import numpy as np
import re
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel
import spacy
import nltk

In [219]:
jobs = pd.read_csv('../data/job_postings.csv')
jobs = jobs.drop(columns=['date_added', 'organization', 'skills_len', 'job_type', 'location'])
jobs.fillna('', inplace=True)
jobs['word_count'] = jobs['job_description'].map(lambda x: len(x.split()))

In [220]:
jobs

,job_description,job_title,skills,word_count
0,an EDI Analyst with experience please read on...,Analyst,edi trustedlink as van,266
1,Informatica ETL DeveloperSt Petersburg FL Only...,Developer,etl informatica b data exchange netezza oracle...,83
2,pmayekar kanandcorp.com - - Sunnyvale CAANGULA...,Developer,angular,8
3,This nationally recognized Microsoft Gold Part...,Manager,microsoft dynamics ax project manager - toront...,582
4,a .NET Developer with experience please read ...,Developer,c asp.net sql javascript mvc,349
...,...,...,...,...
16544,JPMorgan Chase & Co. (NYSE: JPM) is a leading...,Developer,.net architecture developer development git ht...,852
16545,Seeking Jr. Systems Administrators with experi...,Administrator,jr. linux administrator,353
16546,a Senior Lead Devops Engineer with a desired ...,Developer,amazon web services linux bash ruby python agile,312
16547,Headquartered in downtown San Francisco CA we ...,Developer,javascript react.js golang startup ror iot ana...,304
16548,an AppSec or Hardware Security Engineer who h...,Engineer,c .net java software application security hard...,538

---

# Remove words with low counts

In [199]:
# Look at both job_description and skills columns
jobs['text'] = jobs['job_description'] + ' ' + jobs['skills']

<ipython-input-199-6df4aaa94410>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jobs['text'] = jobs['job_description'] + ' ' + jobs['skills']

In [218]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
print(len(stop_words))

179

In [ ]:
# load data
filename = 'metamorphosis_clean.txt'
file = open(filename, 'rt')
text = file.read()
file.close()

# split into words
from nltk.tokenize import word_tokenize
tokens = word_tokenize(text)

# convert to lower case
tokens = [w.lower() for w in tokens]

# remove punctuation from each word
import string
table = str.maketrans('', '', string.punctuation)
stripped = [w.translate(table) for w in tokens]

# remove remaining tokens that are not alphabetic
words = [word for word in stripped if word.isalpha()]

# filter out stop words
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words = [w for w in words if not w in stop_words]
print(words[:100])

In [193]:
# Vectorize the training data
cvec = CountVectorizer(stop_words='english')

cvec_matrix = cvec.fit_transform(jobs['text'])

cvec_matrix.shape

(16428, 88015)

86,767 words with no min_df  
9943 words with min_df = 10

In [162]:
df = pd.DataFrame(cvec_matrix.todense(), columns=cvec.get_feature_names())

In [163]:
counts = [word for word in df if df[word].sum() < 10]

In [165]:
words_to_drop = counts

In [166]:
len(words_to_drop)

75747

In [169]:
from sklearn.feature_extraction import text 
len(text.ENGLISH_STOP_WORDS)

318

In [170]:
to_drop = text.ENGLISH_STOP_WORDS.union(words_to_drop)
len(to_drop)

76065

In [200]:
jobs['text'][0]

" an EDI Analyst with experience, please read on We are a strong, long standing company looking for an EDI Analyst for our team. You must have + years of EDI experience in a TrustedLink for i environment. Your role will work with our finance department identifying trading partners, work closely with external customers and be the EDI liaison across the company. You will also monitor AS and VAN communications, correct errors and incoming data.What You Need for this PositionRequirements: + years of EDI experience + years of TrustedLink for i Experience, iSeries AS Experience with VAN and AS communicationsWhat's In It for YouWe offer a strong compensation package and benefits Local Candidates ONLY please.So, n EDI Analyst with experience, please apply today Applicants must be authorized to work in the U.S.Please apply directly to by clicking 'Click Here to Apply' with your Word resume Looking forward to receiving your resume and going over the position in more detail with you.- Not a fit for this position Click the link at the bottom of this email to search all of our open positions.Looking forward to receiving your resume CyberCodersCyberCoders, Inc is proud to be an Equal Opportunity EmployerAll qualified applicants will receive consideration for employment without regard to race, color, religion, sex, national origin, disability, protected veteran status, or any other characteristic protected by law.Your Right to Work - In compliance with federal law, all persons hired will be required to verify identity and eligibility to work in the United States and to complete the required employment eligibility verification document form upon hire.Copyright  - . CyberCoders, Inc. All rights reserved. edi trustedlink as van"

In [207]:
test = jobs['text'][0]

for word in to_drop:
    pattern = f'\s{word}\s'
    
    if  in jobs['text'][0]:
        test = test.replace(word, ' ')

In [208]:
test

"   EDI An l t   ex  ce,     d   We        , l  st d g  mp y  ok g     EDI An l t     t . You m t   + y    EDI ex  ce     Tr tedL k       n nt. Y  r e   w      f  ce         y g   ng p   , w   sely   e e l c   rs  d   t  EDI l       s t   mp y. You    o m    AS  d VAN  m    ,     e    d   g d t .Wh t You N    t  Pos  R u    : + y    EDI ex  ce + y    Tr tedL k     Ex  ce,  Ser s AS Ex  ce   VAN  d AS  m    Wh t's In It   YouWe  r       mp    p   ge  d b f s L l C d d tes ONLY  .So, n EDI An l t   ex  ce,    p  t  y Appl c ts m t    d   w    t  U.S.Ple se  p    ly     cl   g 'Cl   He    Ap '   y  W  r   L  g fo rd     v g y  r    d g ng  er t        e   l    .- Not   f    t     Cl   t  l k  t t      t  em  l   se  h  ll      n   .L  g fo rd     v g y  r   Cy rC rsCy rC rs, Inc   p         E  l Oppo   y E o rAll   l  d  ppl c ts     ve         y nt w  ut   rd   r ce, c  ,    , sex, n    n, d  b  , p  ted v r  st t ,    y ot r c      p  ted   l w.Y  R     W  - In    ce   fe r l l w,  ll pe   h  d     r u  d     y    y  d el b     w    t  Un ed St tes  d    mp  t  r u  d  y nt el b         cu nt  m   h  .Co r    - . Cy rC rs, Inc. All r    se ed. ed    te nk  s v "

In [135]:
# Lots of 'aa'
df['aa'].sum()

444